{% extends 'torsion_shop/main.html' %}
{% load static %}
{% block  title_page %}
    <title>News - Torsion Group</title>
{% endblock title_page %}

{% block content_page %}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active"><a href="{% url 'news' %}">News</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- torsion's Breadcrumb Area End Here -->

    <!-- Begin torsion's Blog Details Left Sidebar Area -->
    <div class="torsion-blog_area torsion-blog-details">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="blog-item">
                        <div class="blog-img img-hover_effect">
                            <img src="{{ news_detail.main_image.url }}" alt="Torsion News Image">
                            <span class="post-date">{{ news_detail.created_date }}</span>
                        </div>
                        <div class="blog-content">
                            <h3>{{ news_detail.title }}</h3>
                            <p>{{ news_detail.full_text }}</p>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content_page %}